.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #8039fd;
    color: white;
    padding: 15px;
    border-radius: 6px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  gap: 15px;

  a {
    color: white;
    font-size: 16px;
  }

  span {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 80%;

    img {
      max-width: 20px;
      width: 100%;
    }
  }

  & > div {
    display: flex;
    justify-content: space-between;
  }

  button {
    background-color: #055050;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;

    transition: background-color 0.2s;

    &:hover {
      background-color: #056060;
    }
  }
}

.infos-top {
  display: flex;
  justify-content: space-between;
}
